:root{
--main-bg:#cb6ce6;
--bg:#a52dc8;
--color:#fff;
--upper-accent:#858585;
--size:48px;
}
* {font:1rem 'Nunito', sans-serif; word-wrap:break-word; box-sizing:border-box; scroll-behavior: smooth;}
html {line-height:1.15; -webkit-text-size-adjust:100%; -webkit-tap-highlight-color:transparent; overflow-x:hidden;}
::-webkit-scrollbar {width:8px;}
::-webkit-scrollbar-track {margin:4px;}
::-webkit-scrollbar-thumb {background: #fff; border-radius:10px;}
::selection {background-color: #87d6e382;}
:is(h1,h2,h3,h4,h5,h6) {margin:0; font-weight:bold;}
body,p {margin: 0;} details {display:block;} summary {display:list-item;} template, [hidden] {display:none;} textarea {overflow:auto; resize:none;} progress {vertical-align:baseline;} abbr[title] {border-bottom:none; text-decoration:underline; text-decoration:underline dotted;} small {font-size:80%;} img {border-style:none;} sub, sup {font-size:75%; line-height:0; position:relative; vertical-align:baseline;} sub {bottom:-0.25em;} sup {top:-0.5em;} hr {box-sizing:content-box; height:0; overflow:visible;} button, input, optgroup, select, textarea {font-family:inherit; font-size:100%;} button, input {overflow:visible;} button[disabled] {color: var(--upper-accent);} select {outline:none; cursor:pointer;}
body {background-color:var(--main-bg); color:var(--color);}
a {text-decoration:none;} a:link {color:var(--color);} a:visited {color:var(--color);} ul:not(.post-body ul) {list-style:none;}
b, abbr, strong, dt, blockquote:before, blockquote:after, .first-line::first-line, .first-letter::first-letter {font-weight:bold;} i {font-style:italic;}
input[type='submit'], input[type='button'], button {text-transform:uppercase; cursor:pointer;} input:focus, textarea:focus {outline:none;}
input:not([type='radio'], [type='checkbox']), textarea, button, select {background-color:transparent; border:none; border-radius:5px; color:var(--color); padding:5px 16px;}
img, svg, legend, video {max-width:100%;} img, svg {height:auto;} 
video {display:block; height:auto;} audio {display:block; width:100%;} video, iframe, pre, code, samp, q, cite, output, fieldset, blockquote, .alert, .warning, .danger, .grid-inside {border-radius:5px;}
iframe, pre, picture {display:flex; width:100%; max-width:100%; height:auto;}
code, pre, samp, q, cite, output, blockquote, .alert {display:block; padding:16px; background-color:var(--main-bg);}
pre {font-family:monospace, monospace; white-space:pre-wrap;}
code, code *, samp, kbd {font-family:'JetBrains Mono'; word-break:break-word; line-height:25px;} code > pre {padding:0; margin:0;}
adress, em, var, dfn {font-style:italic;} fieldset {padding-inline:8px; border:3px solid;}
del {text-decoration:line-through from-font wavy;} mark {background-color:#ffff00a8; padding:2px 4px;}